/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	height: 595px;
	font-family: "Segoe UI", Arial, sans-serif;
}

.page-wrapper {
	width: 843px;
	margin: 0 auto;
}

.page {
	margin: 24px 40px;
	height: 500px;
}

.img-wrapper {
	display: flex;
	flex-direction: row;
	/* height: 500px; */
}

.img-wrapper p {
	margin-left: 10px;
}

p {
	text-indent: 15px;
	margin: 0;
}

.img-wrapper img {
	max-width: 100%;
	max-height: 100%;

}

html, body { height: 100%; }
